@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 100;
  src: local("NotoSansCJKkr Thin"), local("NotoSansCJKkr-Thin"),
    url(NotoSansCJKkr-Thin.eot),
    url(NotoSansCJKkr-Thin?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-Thin.woff) format('woff'),
    url(NotoSansCJKkr-Thin.woff2) format('woff2'),
    url(NotoSansCJKkr-Thin.otf) format('opentype');
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansCJKkr Light"), local("NotoSansCJKkr-Light"),
    url(NotoSansCJKkr-Light.eot),
    url(NotoSansCJKkr-Light?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-Light.woff) format('woff'),
    url(NotoSansCJKkr-Light.woff2) format('woff2'),
    url(NotoSansCJKkr-Light.otf) format('opentype');
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 350;
  src: local("NotoSansCJKkr"), local("NotoSansCJKkr-DemiLight"),
    url(NotoSansCJKkr-DemiLight.eot),
    url(NotoSansCJKkr-DemiLight?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-DemiLight.woff) format('woff'),
    url(NotoSansCJKkr-DemiLight.woff2) format('woff2'),
    url(NotoSansCJKkr-DemiLight.otf) format('opentype');
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 400;
  src: local("NotoSansCJKkr Regular"), local("NotoSansCJKkr-Regular"),
    url(NotoSansCJKkr-Regular.eot),
    url(NotoSansCJKkr-Regular?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-Regular.woff) format('woff'),
    url(NotoSansCJKkr-Regular.woff2) format('woff2'),
    url(NotoSansCJKkr-Regular.otf) format('opentype');
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 500;
  src: local("NotoSansCJKkr Medium"), local("NotoSansCJKkr-Medium"),
    url(NotoSansCJKkr-Medium.eot),
    url(NotoSansCJKkr-Medium?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-Medium.woff) format('woff'),
    url(NotoSansCJKkr-Medium.woff2) format('woff2'),
    url(NotoSansCJKkr-Medium.otf) format('opentype');
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 700;
  src: local("NotoSansCJKkr Bold"), local("NotoSansCJKkr-Bold"),
    url(NotoSansCJKkr-Bold.eot),
    url(NotoSansCJKkr-Bold?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-Bold.woff) format('woff'),
    url(NotoSansCJKkr-Bold.woff2) format('woff2'),
    url(NotoSansCJKkr-Bold.otf) format('opentype');
}
@font-face {
  font-family: "NotoSansCJKkr";
  font-style: normal;
  font-weight: 900;
  src: local("NotoSansCJKkr Black"), local("NotoSansCJKkr-Black"),
    url(NotoSansCJKkr-Black.eot),
    url(NotoSansCJKkr-Black?#iefix) format('embedded-opentype'),
    url(NotoSansCJKkr-Black.woff) format('woff'),
    url(NotoSansCJKkr-Black.woff2) format('woff2'),
    url(NotoSansCJKkr-Black.otf) format('opentype');
}
