@charset "utf-8";

/* button/a tag ripple effect css */
[anim="ripple"] {
	position: relative;
	overflow: hidden;
}
[anim="ripple"]:before {
	content: '';
	position: absolute;
	display: block;
	background: var(--ripple-background, white);
	border-radius: 50%;
	pointer-events: none;
	top: calc(var(--y) * 1px);
	left: calc(var(--x) * 1px);
	width: calc(var(--d) * 1px);
	height: calc(var(--d) * 1px);
	opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
	-webkit-transition: calc(var(--t, 0) * var(--ripple-duration, 200ms)) var(--ripple-easing, linear);
	-o-transition: calc(var(--t, 0) * var(--ripple-duration, 200ms)) var(--ripple-easing, linear);
	transition: calc(var(--t, 0) * var(--ripple-duration, 200ms)) var(--ripple-easing, linear);
	-webkit-transform: translate(-50%, -50%) scale(var(--s, 1));
	-ms-transform: translate(-50%, -50%) scale(var(--s, 1));
	transform: translate(-50%, -50%) scale(var(--s, 1));
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
}
button[anim="ripple"] {
	--ripple-background: white;
	--ripple-opacity: 0.1;
	--ripple-duration: 600ms;
	display: inline-block;
	/*	color: black; */
	text-decoration: none;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	transition: background-color 300ms;
}

a[anim="ripple"] {
	--ripple-background: white;
	--ripple-opacity: 0.1;
	--ripple-duration: 600ms;
	display: inline-block;
/*	color: black; */
	text-decoration: none;
	text-align: center;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-transition: background-color 300ms;
	-o-transition: background-color 300ms;
	transition: background-color 300ms;
}
[data-tw^="tw-fade"] {
	opacity: 0;
}

body {font-family: 'Poppins', 'Malgun Gothic', '맑은 고딕', sans-serif; color:#222;font-weight:400; font-size:14px; line-height:1.5;} /* color값은 디자인가이드에 맞게사용 */
th,td,input,select,textarea,button {font-weight:400; font-size:14px; line-height:1.5;font-family: inherit;color: inherit;}
a{font-family: inherit;text-decoration:none; color:inherit;}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #b8b8b8;
}

input::-moz-placeholder, textarea::-moz-placeholder {
	color: #b8b8b8;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #b8b8b8;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
	color: #b8b8b8;
}

input::placeholder,
textarea::placeholder {
	color: #b8b8b8;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #b8b8b8;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #b8b8b8;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #b8b8b8;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #b8b8b8;
}

input:focus,
textarea:focus {
	/* background-color: #f9f9f9; */
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
	color: transparent;
}

input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
	color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
	color: transparent;
}

select {
	display: inline-block;
	width: 100%;
	max-width: 360px;
	border: 0;
	border-bottom: 1px solid #949CBC;
	font-size: 15px;
	font-weight: 300;
	color: #242424;
	padding: 6px 35px 6px 15px;
	background: #fff url('../img/common/icon_select_arrow.png') no-repeat right 10px center;
	-webkit-appearance: none;
	-moz-appearance: none; 
	appearance: none;
}
select::-ms-expand { 
	display: none; 
}
textarea {
	color: #242424;
	padding: 6px 15px;
	resize: none;
	width: 100%;
}
input {
	color: #242424;
	padding: 6px 15px;
	-webkit-appearance: none;
	-moz-appearance: none; 
	appearance: none;
	-webkit-border-radius: 0;
}

input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

input[type="radio"] + label {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	line-height: 15px;
	margin: 8px 0;
}

input[type="radio"] + label ~ label {
	margin-left: 20px;
}

input[type="radio"] + label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 14px;
	height: 14px;
	text-align: center;
	background: #fff;
	border: 1px solid #949CBC;
	border-radius: 100%;
}

input[type="radio"] + label:active:before,
input[type="radio"]:checked + label:active:before {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

input[type="radio"]:checked + label:before {
	background: #fff;
	border-color: #ae2222;
}

input[type="radio"]:checked + label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 4px;
	width: 6px;
	height: 6px;
	background: #ae2222;
	border-radius: 100%;
}

input[type="checkbox"] {
	display: none !important;
}
input[type="checkbox"] + label {
	position: relative;
	display: inline-block;
	cursor: pointer;
	padding-left: 25px;
	line-height: 15px;
	font-size: 15px;
	color: #242424;
	vertical-align: middle;
}
input[type="checkbox"] + label:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 1px;
	width: 14px;
	height: 14px;
	background: #fff;
	border: 1px solid #bebebe;
	border-radius: 0;
	font-family: 'FontAwesome';
	font-size: 10px;
	line-height: 12px;
	text-align: center;
}
input[type="checkbox"]:checked + label:before {
	content: "\f00c";
	color: #ae2222;
	display: inline-block;
	width: 14px;
	height: 14px;
	background: #fff;
	border-color: #ae2222;
}

/* 스위치 온/오프 체크박스 */
label.toggle_check {
	font-size: 0;
	cursor: pointer;
}
label.toggle_check input[type="checkbox"] {}
label.toggle_check input[type="checkbox"] + span.label {
	position: relative;
	display: inline-block;
	background-color: #DCDEE1;
	border-radius: 30px;
	width: 40px;
	height: 20px;
	-webkit-transition: .2s all ease-out;
	-o-transition: .2s all ease-out;
	-moz-transition: .2s all ease-out;
	transition: .2s all ease-out;
}
label.toggle_check input[type="checkbox"] + span.label:after {
	content: "";
	position: absolute;
	top: 1px;
	left: 1px;
	width: 18px;
	height: 18px;
	background-color: #fff;
	border-radius: 50%;
	-webkit-transition: .2s all ease-out;
	-o-transition: .2s all ease-out;
	-moz-transition: .2s all ease-out;
	transition: .2s all ease-out;
}
label.toggle_check input[type="checkbox"]:checked + span.label {
	background-color: #E8ECF2;
}
label.toggle_check input[type="checkbox"]:checked + span.label:after {
	left: 21px;
	background-color: #406D96;
}

.filebox input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.filebox {
	font-size: 0;
}
.filebox label {
	display: inline-block;
	text-align: center;
	width: 90px;
	cursor: pointer;
	padding: 10px;
	background-color: #6465CF;
	line-height: 1;
	font-size: 15px;
	font-weight: 300;
	color: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
	        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
	margin-left: 10px;
}

.filebox .upload-name {
	display: inline-block;
	font-size: 15px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid #949CBC;
	width: calc(100% - 100px);
	color: #9d9d9d;
	text-align: left;
	background-color: #fff;
	max-width: 100%;
	padding: 6px 10px;
}
.filebox label:active {
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1201px) {
	.filebox label:hover {
		background-color: #7677eb;
	}
}
@media screen and (max-width: 767px) {
	input[type="radio"] + label {
		line-height: 14px;
	}
	input[type="radio"] + label:before {
		top: 0;
	}
	input[type="radio"]:checked + label:after {
		top: 4px;
	}
	input[type="checkbox"] + label {
		line-height: 14px;
		font-size: 14px;
	}
	input[type="checkbox"] + label:before {
		top: 0;
	}
	.filebox .upload-name {
		font-size: 12px;
	}
	.filebox label {
		font-size: 12px !important;;
		padding: 8px 20px;
	}
	select {
		font-size: 14px;
	}
}

/* */
.t_c {text-align: center !important;}
.t_l {text-align: left !important;}
.t_r {text-align: right !important;}
.mt20 {margin-top: 20px !important;}
.mt30 {margin-top: 30px !important;}
.mb20 {margin-bottom: 20px !important;}
.mt40 {margin-top: 40px !important;}
.pt0 {padding-top: 0 !important;}

@media screen and (min-width: 1201px) {
	.pc-none {display: none !important;}
}
@media screen and (max-width: 1200px) {
	.pc-only {display: none !important;}
}
@media screen and (min-width: 768px) {
	.mb-only {display: none !important;}
}
@media screen and (max-width: 767px) {
	.mb-none {display: none !important;}
}

/* ---------------------------------- layout */
html, body {height:100%;}

@media screen and (min-width:321px) {
	body {overflow-x:hidden !important;}
}

@media (max-width: 767px) {
	html {
		font-size: 75%;
	}
}