/* reset */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, dialog, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7c7c7;
  margin: 1em 0;
  padding: 0;
}

img {
  border: 0 none;
  max-width: 100%;
}

.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

form {
  min-width: auto;
}

input[type=image] {
  border: 0 none;
}

button, input[type=submit] {
  cursor: pointer;
  border: 0 none;
}

button::-moz-focus-inner {
  border: 0 none;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
  color: #151515;
}
@media (max-width: 767px) {
  html {
    font-size: 75%;
  }
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  word-wrap: break-word;
  word-break: keep-all;
  zoom: 1;
  -webkit-text-size-adjust: 100%;
  font-family: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

th, td, input, select, textarea, button {
  font: inherit;
  color: inherit;
}

a {
  font: inherit;
  text-decoration: none;
  color: inherit;
}

input[type=text], input[type=password] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

textarea, input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

select {
  padding: 0 25px 0 10px;
  background-image: url(/assets/img/icon_select_arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 11px auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:focus {
  border-color: #e51550;
}

select::-ms-expand {
  display: none;
}

address {
  font-style: normal;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* common */
[data-tooltip-text] {
  position: relative;
  font-size: 1rem;
}
[data-tooltip-text]:hover:before {
  content: attr(data-tooltip-text);
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #333132;
  -webkit-box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.4);
  box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.4);
  border-radius: 5px;
  color: #fff;
  font-size: 12px;
  padding: 5px 12px;
  width: auto;
  min-width: 50px;
  max-width: 300px;
  word-wrap: break-word;
  z-index: 10001;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 11px;
  white-space: nowrap;
  line-height: 1;
}
[data-tooltip-text]:hover:after {
  content: "";
  position: absolute;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #333132;
  border-left: 5px solid transparent;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10001;
}

.t_c {
  text-align: center !important;
}

.t_l {
  text-align: left !important;
}

.t_r {
  text-align: right !important;
}

.d_f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.a_c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.j_c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.j_s {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.f_wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.mt120 {
  margin-top: 7.5rem !important;
}

.mt110 {
  margin-top: 6.875rem !important;
}

.mt100 {
  margin-top: 6.25rem !important;
}

.mt90 {
  margin-top: 5.625rem !important;
}

.mt80 {
  margin-top: 5rem !important;
}

.mt70 {
  margin-top: 4.375rem !important;
}

.mb70 {
  margin-bottom: 4.375rem !important;
}

.mt60 {
  margin-top: 3.75rem !important;
}

.mb60 {
  margin-bottom: 3.75rem !important;
}

.mt50 {
  margin-top: 3.125rem !important;
}

.mb50 {
  margin-bottom: 3.125rem !important;
}

.mt43 {
  margin-top: 2.6875rem !important;
}

.mt40 {
  margin-top: 2.5rem !important;
}

.mr40 {
  margin-right: 2.5rem !important;
}

.mb40 {
  margin-bottom: 2.5rem !important;
}

.mt35 {
  margin-top: 2.1875rem !important;
}

.mb35 {
  margin-bottom: 2.1875rem !important;
}

.mt30 {
  margin-top: 1.875rem !important;
}

.mb30 {
  margin-bottom: 1.875rem !important;
}

.mt25 {
  margin-top: 1.5625rem !important;
}

.mb25 {
  margin-bottom: 1.5625rem !important;
}

.mt20 {
  margin-top: 1.25rem !important;
}

.mr20 {
  margin-right: 1.25rem !important;
}

.mb20 {
  margin-bottom: 1.25rem !important;
}

.ml20 {
  margin-left: 1.25rem !important;
}

.mt15 {
  margin-top: 0.9375rem !important;
}

.mb15 {
  margin-bottom: 0.9375rem !important;
}

.mt10 {
  margin-top: 0.625rem !important;
}

.mr10 {
  margin-right: 0.625rem !important;
}

.mb10 {
  margin-bottom: 0.625rem !important;
}

.ml10 {
  margin-left: 0.625rem !important;
}

.mt5 {
  margin-top: 0.3125rem !important;
}

.mr5 {
  margin-right: 0.3125rem !important;
}

.mb5 {
  margin-bottom: 0.3125rem !important;
}

.mr2 {
  margin-right: 0.125rem !important;
}

.m0 {
  margin: 0 !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml0 {
  margin-left: 0 !important;
}

.p0 {
  padding: 0 !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl0 {
  padding-left: 0 !important;
}

.pt5 {
  padding-top: 0.3125rem !important;
}

.pt70 {
  padding-top: 4.375rem !important;
}

.pb70 {
  padding-bottom: 4.375rem !important;
}

.pt50 {
  padding-top: 3.125rem !important;
}

.pb50 {
  padding-bottom: 3.125rem !important;
}

.pt40 {
  padding-top: 2.5rem !important;
}

.pt20 {
  padding-top: 1.25rem !important;
}

.pb20 {
  padding-bottom: 1.25rem !important;
}

.pl30 {
  padding-left: 1.875rem !important;
}

.pl20 {
  padding-left: 1.25rem !important;
}

.pl10 {
  padding-left: 0.625rem !important;
}

.mt-95 {
  margin-top: -5.9375rem;
}

.pt95 {
  padding-top: 5.9375rem;
}

.color_white {
  color: #fff !important;
}

.color_black {
  color: #000 !important;
}

.color_000 {
  color: #000 !important;
}

.color_111 {
  color: #111 !important;
}

.color_222 {
  color: #222 !important;
}

.color_444 {
  color: #444 !important;
}

.color_555 {
  color: #555 !important;
}

.color_666 {
  color: #666 !important;
}

.color_777 {
  color: #777 !important;
}

.color_888 {
  color: #888 !important;
}

.color_999 {
  color: #999 !important;
}

.color_ddd {
  color: #ddd !important;
}

.color_fff {
  color: #fff !important;
}

.color_333_80 {
  color: rgba(51, 51, 51, 0.8);
}

.color_fff_80 {
  color: rgba(255, 255, 255, 0.8);
}

.color_dark_blue {
  color: #282763 !important;
}

.color_blue {
  color: #182f77 !important;
}

.color_orange {
  color: #ffab00 !important;
}

.color_purple {
  color: #7d67ef !important;
}

.color_sky {
  color: #00aeff !important;
}

.color_6161d5 {
  color: #6161d5 !important;
}

.color_115fcd {
  color: #115fcd !important;
}

.color_65c0ff {
  color: #65c0ff !important;
}

.color_00aaff {
  color: #00aaff !important;
}

.color_ff4141 {
  color: #ff4141 !important;
}

.color_5f2f8b {
  color: #5f2f8b !important;
}

.color_red {
  color: #f50000 !important;
}

.bg_sky {
  background-color: #00aeff !important;
}

.bg_base {
  background-color: #e51550 !important;
}

.color_base {
  color: #e51550 !important;
}

.color_point {
  color: #ff0302 !important;
}

.bg_f2f2f2 {
  background-color: #f2f2f2 !important;
}

.bg_f4f4f4 {
  background-color: #f4f4f4 !important;
}

.bg_f5f5f5 {
  background-color: #f5f5f5 !important;
}

.bg_f6f6f6 {
  background-color: #f6f6f6 !important;
}

.bg_f7f7f7 {
  background-color: #f7f7f7 !important;
}

.bg_f8f8f8 {
  background-color: #f8f8f8 !important;
}

.bg_f9f9f9 {
  background-color: #f9f9f9 !important;
}

.bg_e5e8eb {
  background-color: #e5e8eb !important;
}

.bg_f3f3f3 {
  background-color: #f3f3f3 !important;
}

.bg_002e65 {
  background-color: #002e65 !important;
}

.bg_37b959 {
  background-color: #37b959 !important;
}

.bg_c3e6f8 {
  background-color: #c3e6f8 !important;
}

.bg_0e0e3f {
  background-color: #0e0e3f !important;
}

.bg_e6eef7 {
  background-color: #e6eef7 !important;
}

.bg_f3f5f8 {
  background-color: #f3f5f8 !important;
}

.bg_65c0ff {
  background-color: #65c0ff !important;
}

.bg_f4f9fe {
  background-color: #f4f9fe !important;
}

.bg_eff6fd {
  background-color: #eff6fd !important;
}

.bg_eef5fc {
  background-color: #eef5fc !important;
}

.bg_232323 {
  background-color: #232323 !important;
}

.bg_fff {
  background-color: #fff !important;
}

.bg_333 {
  background-color: #333 !important;
}

.bg_green {
  background-color: #21adad !important;
}

.bg_box {
  background-color: #e6eef7 !important;
}

.bor_0 {
  border: 0 !important;
}

.fw_100 {
  font-weight: 100 !important;
}

.fw_200 {
  font-weight: 200 !important;
}

.fw_300 {
  font-weight: 300 !important;
}

.fw_350 {
  font-weight: 350 !important;
}

.fw_400 {
  font-weight: 400 !important;
}

.fw_500 {
  font-weight: 500 !important;
}

.fw_600 {
  font-weight: 600 !important;
}

.fw_700 {
  font-weight: 700 !important;
}

.fw_800 {
  font-weight: 800 !important;
}

.fw_900 {
  font-weight: 900 !important;
}

.fs_105 {
  font-size: 6.5625rem !important;
}

.fs_100 {
  font-size: 6.25rem !important;
}

.fs_80 {
  font-size: 5rem !important;
}

.fs_70 {
  font-size: 4.375rem !important;
}

.fs_65 {
  font-size: 4.0625rem !important;
}

.fs_60 {
  font-size: 3.75rem !important;
}

.fs_50 {
  font-size: 3.125rem !important;
}

.fs_48 {
  font-size: 3rem !important;
}

.fs_45 {
  font-size: 2.813rem !important;
}

.fs_43 {
  font-size: 2.6875rem !important;
}

.fs_40 {
  font-size: 2.5rem !important;
}

.fs_38 {
  font-size: 2.375rem !important;
}

.fs_35 {
  font-size: 2.1875rem !important;
}

.fs_34 {
  font-size: 2.125rem !important;
}

.fs_33 {
  font-size: 2.0625rem !important;
}

.fs_32 {
  font-size: 2rem !important;
}

.fs_30 {
  font-size: 1.875rem !important;
}

.fs_28 {
  font-size: 1.75rem !important;
}

.fs_26 {
  font-size: 1.625rem !important;
}

.fs_25 {
  font-size: 1.5625rem !important;
}

.fs_24 {
  font-size: 1.5rem !important;
}

.fs_23 {
  font-size: 1.4375rem !important;
}

.fs_22 {
  font-size: 1.375rem !important;
}

.fs_20 {
  font-size: 1.25rem !important;
}

.fs_19 {
  font-size: 1.1875rem !important;
}

.fs_18 {
  font-size: 1.125rem !important;
}

.fs_17 {
  font-size: 1.0625rem !important;
}

.fs_16 {
  font-size: 1rem !important;
}

.fs_15 {
  font-size: 0.9375rem !important;
}

.fs_14 {
  font-size: 0.875rem !important;
}

.fs_13 {
  font-size: 0.8125rem !important;
}

.fs_0 {
  font-size: 0 !important;
}

@media (max-width: 575px) {
  .fs_105 {
    font-size: 28px !important;
  }
  .fs_100 {
    font-size: 28px !important;
  }
  .fs_80 {
    font-size: 28px !important;
  }
  .fs_70 {
    font-size: 28px !important;
  }
  .fs_65 {
    font-size: 28px !important;
  }
  .fs_60 {
    font-size: 28px !important;
  }
  .fs_50 {
    font-size: 28px !important;
  }
  .fs_48 {
    font-size: 26px !important;
  }
  .fs_45 {
    font-size: 26px !important;
  }
  .fs_43 {
    font-size: 26px !important;
  }
  .fs_40 {
    font-size: 24px !important;
  }
  .fs_38 {
    font-size: 24px !important;
  }
  .fs_35 {
    font-size: 22px !important;
  }
  .fs_33 {
    font-size: 22px !important;
  }
  .fs_32 {
    font-size: 22px !important;
  }
  .fs_30 {
    font-size: 20px !important;
  }
  .fs_28 {
    font-size: 19px !important;
  }
  .fs_26 {
    font-size: 18px !important;
  }
  .fs_25 {
    font-size: 18px !important;
  }
  .fs_24 {
    font-size: 18px !important;
  }
  .fs_23 {
    font-size: 18px !important;
  }
  .fs_22 {
    font-size: 18px !important;
  }
  .fs_20 {
    font-size: 17px !important;
  }
  .fs_19 {
    font-size: 17px !important;
  }
  .fs_18 {
    font-size: 16px !important;
  }
  .fs_17 {
    font-size: 15px !important;
  }
  .fs_16 {
    font-size: 14px !important;
  }
  .fs_15 {
    font-size: 13px !important;
  }
  .fs_14 {
    font-size: 12px !important;
  }
  .fs_13 {
    font-size: 11px !important;
  }
}
.ver_mid {
  vertical-align: middle;
}

.lh_1_8 {
  line-height: 1.8;
}

.lh_1_6 {
  line-height: 1.6;
}

.lh_1_5 {
  line-height: 1.5;
}

.lh_1_4 {
  line-height: 1.4;
}

.lh_1_3 {
  line-height: 1.3;
}

.lh_1_2 {
  line-height: 1.2;
}

.lh_1_1 {
  line-height: 1.1;
}

.lh_1 {
  line-height: 1;
}

.display_block {
  display: block;
}

.display_inline_block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.pos_r {
  position: relative !important;
}

.pos_a {
  position: absolute !important;
}

p {
  line-height: 1.8;
  font-weight: 400;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5625rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.125rem;
}

@media (min-width: 1200px) {
  .pc_none {
    display: none !important;
  }
}
@media (max-width: 1199px) {
  .pc_only {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .mb_only {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .mb_none {
    display: none !important;
  }
}
#wrapper {
  background: #fff;
  min-height: 100vh;
  font-size: 1.0625rem;
  overflow: hidden;
  letter-spacing: -0.5px;
}

.inner {
  width: 100%;
  max-width: 1760px;
  padding: 0 20px;
  margin: 0 auto;
}

/* --- placeholder */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #b1b1b1;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b1b1b1;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #b1b1b1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #b1b1b1;
}

input::placeholder,
textarea::placeholder {
  color: #b1b1b1;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #b1b1b1;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #b1b1b1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #b1b1b1;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: transparent;
}

input:focus::-ms-input-placeholder, textarea:focus::-ms-input-placeholder {
  color: transparent;
}

input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
textarea {
  border: 1px solid #ccd0d7;
  padding: 0 10px;
  border-radius: 0;
  background-color: #fff;
  color: #414141;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  border: 1px solid #ccd0d7;
  border-radius: 0;
  background-color: #fff;
  color: #414141;
}

input[type=text],
input[type=number],
input[type=password],
input[type=tel],
select {
  height: 2.1875rem;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  height: auto;
}

textarea {
  padding: 10px;
}

input:focus,
textarea:focus,
select:focus {
  border-color: #e51550;
  outline: none;
}

input[type=radio] {
  display: none !important;
}
input[type=radio] + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  font-size: 1rem;
  color: #666;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0.3125rem 0;
  margin-right: 10px !important;
  cursor: pointer;
}
input[type=radio] + label:last-child {
  margin-right: 0 !important;
}
input[type=radio] + label:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 50%;
  content: "";
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type=radio]:checked + label:before {
  content: "\f00c";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #e51550;
  border-color: #e51550;
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
input[type=checkbox] {
  display: none !important;
}
input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  font-size: 1rem;
  color: #666;
  vertical-align: middle;
  line-height: 1.5;
  margin: 0.3125rem 0;
  margin-right: 15px !important;
  cursor: pointer;
}
input[type=checkbox] + label:last-child {
  margin-right: 0 !important;
}
input[type=checkbox] + label:before {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  color: #fff;
  background: #fff;
  border: 1px solid #bebebe;
  border-radius: 0;
  content: "";
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input[type=checkbox]:checked + label:before {
  content: "\f00c";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #e51550;
  border-color: #e51550;
  font-family: "FontAwesome";
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  input[type=radio] + label,
  input[type=checkbox] + label {
    padding-left: 23px;
  }
  input[type=radio] + label:before {
    top: 3px;
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  input[type=radio]:checked + label:before {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  input[type=checkbox] + label:before {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
  input[type=checkbox]:checked + label:before {
    width: 15px;
    height: 15px;
    line-height: 15px;
  }
}
/* ---------------------------------- layout */
html,
body {
  height: 100%;
}

body.cursor-progress {
  cursor: progress;
}

body.gnb-open {
  overflow: hidden;
}
@media (min-width: 1200px) {
  body.gnb-open {
    overflow-x: hidden;
    overflow-y: visible;
  }
}

/* ---------------------------------- contents */
#contents {
  position: relative;
  width: 100%;
}

ul.flex_box--fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: -1.875rem;
}
ul.flex_box--fc.a_c {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
ul.flex_box--fc.j_c {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
ul.flex_box--fc > li {
  margin-top: 1.875rem;
}
ul.flex_box--fc.space-top-4 {
  margin-top: -0.25rem;
}
ul.flex_box--fc.space-top-4 > li {
  margin-top: 0.25rem;
}
ul.flex_box--fc.space-top-10 {
  margin-top: -0.625rem;
}
ul.flex_box--fc.space-top-10 > li {
  margin-top: 0.625rem;
}
ul.flex_box--fc.space-top-20 {
  margin-top: -1.25rem;
}
ul.flex_box--fc.space-top-20 > li {
  margin-top: 1.25rem;
}
ul.flex_box--fc.space-top-30 {
  margin-top: -1.875rem;
}
ul.flex_box--fc.space-top-30 > li {
  margin-top: 1.875rem;
}
ul.flex_box--fc.space-top-40 {
  margin-top: -2.5rem;
}
ul.flex_box--fc.space-top-40 > li {
  margin-top: 2.5rem;
}
ul.flex_box--fc.space-top-50 {
  margin-top: -3.125rem;
}
ul.flex_box--fc.space-top-50 > li {
  margin-top: 3.125rem;
}
ul.flex_box--fc.space-top-60 {
  margin-top: -3.75rem;
}
ul.flex_box--fc.space-top-60 > li {
  margin-top: 3.75rem;
}
ul.flex_box--fc.space-top-80 {
  margin-top: -5rem;
}
ul.flex_box--fc.space-top-80 > li {
  margin-top: 5rem;
}
ul.flex_box--fc.space-2 {
  margin-right: -0.125rem;
  margin-left: -0.125rem;
}
ul.flex_box--fc.space-2 > li {
  padding: 0 0.125rem;
}
ul.flex_box--fc.space-8 {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
ul.flex_box--fc.space-8 > li {
  padding: 0 0.5rem;
}
ul.flex_box--fc.space-10 {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
ul.flex_box--fc.space-10 > li {
  padding: 0 0.625rem;
}
ul.flex_box--fc.space-15 {
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
}
ul.flex_box--fc.space-15 > li {
  padding: 0 0.9375rem;
}
ul.flex_box--fc.space-20 {
  margin-right: -1.25rem;
  margin-left: -1.25rem;
}
ul.flex_box--fc.space-20 > li {
  padding: 0 1.25rem;
}
ul.flex_box--fc.space-30 {
  margin-right: -1.875rem;
  margin-left: -1.875rem;
}
ul.flex_box--fc.space-30 > li {
  padding: 0 1.875rem;
}
ul.flex_box--fc.space-40 {
  margin-right: -2.5rem;
  margin-left: -2.5rem;
}
ul.flex_box--fc.space-40 > li {
  padding: 0 2.5rem;
}
ul.flex_box--fc.ea-1 > li {
  width: 100%;
}
ul.flex_box--fc.ea-2 > li {
  width: 50%;
}
ul.flex_box--fc.ea-3 > li {
  width: 33.333333%;
}
ul.flex_box--fc.ea-4 > li {
  width: 25%;
}
ul.flex_box--fc.ea-5 > li {
  width: 20%;
}
ul.flex_box--fc.ea-6 > li {
  width: 16.666666%;
}
ul.flex_box--fc.ea-7 > li {
  width: 14.285%;
}
ul.flex_box--fc.ea-8 > li {
  width: 12.5%;
}
ul.flex_box--fc.ea-9 > li {
  width: 11.111111%;
}
ul.flex_box--fc.ea-10 > li {
  width: 10%;
}
@media (max-width: 1199px) {
  ul.flex_box--fc.ea-xl-1 > li {
    width: 100%;
  }
  ul.flex_box--fc.ea-xl-2 > li {
    width: 50%;
  }
  ul.flex_box--fc.ea-xl-3 > li {
    width: 33.333333%;
  }
  ul.flex_box--fc.ea-xl-4 > li {
    width: 25%;
  }
  ul.flex_box--fc.ea-xl-5 > li {
    width: 20%;
  }
  ul.flex_box--fc.ea-xl-6 > li {
    width: 16.666666%;
  }
  ul.flex_box--fc.ea-xl-7 > li {
    width: 14.285%;
  }
  ul.flex_box--fc.ea-xl-8 > li {
    width: 12.5%;
  }
  ul.flex_box--fc.ea-xl-9 > li {
    width: 11.111111%;
  }
  ul.flex_box--fc.ea-xl-10 > li {
    width: 10%;
  }
}
@media (max-width: 991px) {
  ul.flex_box--fc.ea-lg-1 > li {
    width: 100%;
  }
  ul.flex_box--fc.ea-lg-2 > li {
    width: 50%;
  }
  ul.flex_box--fc.ea-lg-3 > li {
    width: 33.333333%;
  }
  ul.flex_box--fc.ea-lg-4 > li {
    width: 25%;
  }
  ul.flex_box--fc.ea-lg-5 > li {
    width: 20%;
  }
  ul.flex_box--fc.ea-lg-6 > li {
    width: 16.666666%;
  }
  ul.flex_box--fc.ea-lg-7 > li {
    width: 14.285%;
  }
  ul.flex_box--fc.ea-lg-8 > li {
    width: 12.5%;
  }
  ul.flex_box--fc.ea-lg-9 > li {
    width: 11.111111%;
  }
  ul.flex_box--fc.ea-lg-10 > li {
    width: 10%;
  }
}
@media (max-width: 767px) {
  ul.flex_box--fc.ea-md-1 > li {
    width: 100%;
  }
  ul.flex_box--fc.ea-md-2 > li {
    width: 50%;
  }
  ul.flex_box--fc.ea-md-3 > li {
    width: 33.333333%;
  }
  ul.flex_box--fc.ea-md-4 > li {
    width: 25%;
  }
  ul.flex_box--fc.ea-md-5 > li {
    width: 20%;
  }
  ul.flex_box--fc.ea-md-6 > li {
    width: 16.666666%;
  }
  ul.flex_box--fc.ea-md-7 > li {
    width: 14.285%;
  }
  ul.flex_box--fc.ea-md-8 > li {
    width: 12.5%;
  }
  ul.flex_box--fc.ea-md-9 > li {
    width: 11.111111%;
  }
  ul.flex_box--fc.ea-md-10 > li {
    width: 10%;
  }
}
@media (max-width: 575px) {
  ul.flex_box--fc.ea-sm-1 > li {
    width: 100%;
  }
  ul.flex_box--fc.ea-sm-2 > li {
    width: 50%;
  }
  ul.flex_box--fc.ea-sm-3 > li {
    width: 33.333333%;
  }
  ul.flex_box--fc.ea-sm-4 > li {
    width: 25%;
  }
  ul.flex_box--fc.ea-sm-5 > li {
    width: 20%;
  }
  ul.flex_box--fc.ea-sm-6 > li {
    width: 16.666666%;
  }
  ul.flex_box--fc.ea-sm-7 > li {
    width: 14.285%;
  }
  ul.flex_box--fc.ea-sm-8 > li {
    width: 12.5%;
  }
  ul.flex_box--fc.ea-sm-9 > li {
    width: 11.111111%;
  }
  ul.flex_box--fc.ea-sm-10 > li {
    width: 10%;
  }
}

.flex_box--img--fc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex_box--img--fc > figure {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  font-size: 0;
  text-align: center;
  padding-right: 4.375rem;
  max-width: 60%;
}
.flex_box--img--fc > figure.type_sm {
  padding-right: 3.75rem;
  max-width: none;
}
.flex_box--img--fc > div {
  width: 100%;
}
@media (max-width: 991px) {
  .flex_box--img--fc {
    display: block;
  }
  .flex_box--img--fc > figure {
    padding-right: 0;
    max-width: none;
  }
  .flex_box--img--fc > figure.type_sm {
    padding-right: 0;
  }
  .flex_box--img--fc > div {
    margin-top: 2.5rem;
  }
}

.de_item {
  opacity: 0;
}

.rd_only {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-indent: -9999px;
  overflow: hidden;
  background: none;
  border: 0;
  outline: none;
  color: transparent;
}

:root {
  --element-color: #000;
}

.fix_section {
  position: fixed;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  --fit-color: #000;
  color: var(--fit-color);
}
.fix_section .fix_section__tit {
  position: fixed;
  top: calc(50vh - 70px);
  left: calc(50vw - 160px);
  width: 320px;
  max-width: 100%;
  z-index: 1;
}
.fix_section .fix_section__tit .fix_section__h1 {
  position: relative;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.4;
  overflow: hidden;
}
.fix_section .fix_section__tit .fix_section__h1 span {
  display: block;
  padding-bottom: 10px;
}
.fix_section .fix_section__tit .fix_section__p {
  position: relative;
  left: 148px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  overflow: hidden;
}
.fix_section .fix_section__tit .fix_section__p span {
  display: block;
  padding-top: 10px;
}
.fix_section .fix_section__line {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.fix_section .fix_section__line > div {
  position: absolute;
  top: 50vh;
  left: 50vw;
  background: var(--element-color);
  opacity: 0;
}
.fix_section .fix_section__line .fix_section__line__line01 {
  width: 0;
  height: 2px;
  top: calc(50vh + 8px);
  left: 50vw;
}
.fix_section .fix_section__line .fix_section__line__line02 {
  width: 80px;
  height: 1px;
  top: calc(50vh + 8px);
  left: calc(50vw - 160px);
}
.fix_section .fix_section__line .fix_section__line__line03 {
  width: 100px;
  height: 1px;
  top: calc(50vh + 8px);
  left: calc(50vw + 60px);
}

.loading_section {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 100;
}
.loading_section .loading_transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: #000;
}
.loading_section h3 {
  position: relative;
  font-size: 16vw;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  text-align: center;
  display: none;
}

.port_section {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: none;
  overflow: hidden;
}

.intro_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--element-color);
  opacity: 11;
}
.intro_section .intro_transition {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: #fff;
}
.intro_section .intro_title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vw;
  opacity: 1;
  background-color: var(--element-color);
  clip-path: circle(50vw);
  transform: scale(0.2) rotate(-10deg);
  mix-blend-mode: darken;
}
.intro_section h2 {
  width: 80vw;
}
.intro_section h2 svg#logo {
  width: 100%;
  height: auto;
  fill: #fff;
}

.fix_section__nav {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  bottom: 30px;
  left: 30px;
  overflow: hidden;
  z-index: 11;
}
.fix_section__nav button {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 0;
  text-indent: -9999px;
  color: transparent;
  overflow: hidden;
  background-color: #ccc;
  pointer-events: auto;
  transition: 1s background cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.fix_section__nav button + button {
  margin-left: 10px;
}
.fix_section__nav button.active {
  background-color: #e51550;
}
.fix_section__nav button:nth-child(2).active {
  background-color: #08548d;
}
.fix_section__nav button:nth-child(3).active {
  background-color: #000;
}

.fix_section__bg {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
.fix_section__bg div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-size: 0;
  color: transparent;
  text-indent: -9999px;
  overflow: hidden;
  opacity: 0;
  z-index: -1;
  clip-path: circle(10px at 40px calc(100% - 40px));
  transition: clip-path 0s 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0s 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 0s 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.fix_section__bg div:nth-child(1) {
  background-color: #fff1f7;
}
.fix_section__bg div:nth-child(2) {
  background-color: #f1f9ff;
}
.fix_section__bg div:nth-child(3) {
  background-color: #fff;
}
.fix_section__bg div.active {
  opacity: 1;
  clip-path: circle(100vw);
  transition: clip-path 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 1;
}

.feature_box {
  position: absolute;
  display: flex;
  align-items: center;
  height: 25vh;
}
.feature_box.item01 {
  top: 25vh;
  left: 20vw;
  width: 50vw;
}
.feature_box.item02 {
  top: 50vh;
  left: 40vw;
  width: calc(40vw + 30px);
}
.feature_box.item03 {
  top: 75vh;
  left: 30vw;
  width: 40vw;
}
.feature_box .inbox {
  padding: 1.25rem;
}
.feature_box .inbox h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}
.feature_box .inbox h3 small {
  display: block;
  font-size: 0.7em;
  font-weight: 500;
  color: #e51550;
}
.feature_box .inbox p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
}

.service_comment {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 60vh;
  left: 20vw;
  width: 80vw;
  height: 40vh;
  max-width: 1380px;
  padding-right: 20px;
  padding-bottom: 20px;
}
.service_comment h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 10px;
}
.service_comment p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.service_box {
  position: absolute;
  top: 40vh;
  left: 20vw;
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  max-width: 1380px;
}
.service_box .service_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.333333%;
  height: 20vh;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.service_box .service_item:nth-child(3n-2) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.service_box .service_item img {
  width: 240px;
}
.service_box .service_item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 15px;
  text-align: center;
}

.showcase_wrap {
  display: flex;
  align-items: center;
  max-width: 1480px;
  padding: 0 20px;
  margin: 0 auto;
}
.showcase_wrap .showcase-container {
  width: 100%;
}
.showcase_wrap .swiper-wrapper.scrolling {
  transition-duration: 1s !important;
}
.showcase_wrap .swiper-scrollbar-drag.scrolling {
  transition-duration: 1s !important;
}
.showcase_wrap .showcase-scrollbar {
  position: relative;
  margin-top: 3.125rem;
}
.showcase_wrap .swiper-slide .showcase_inbox {
  display: flex;
  align-items: center;
}
.showcase_wrap .swiper-slide .showcase_inbox .imgbox {
  width: 50%;
}
.showcase_wrap .swiper-slide .showcase_inbox .imgbox figure {
  font-size: 0;
  height: 28.125rem;
  box-shadow: 0.4375rem 0.5625rem 1.875rem rgba(0, 0, 0, 0.7);
}
.showcase_wrap .swiper-slide .showcase_inbox .imgbox figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox {
  width: 50%;
  padding-left: 3.125rem;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner {
  width: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  color: #fff;
  transform: translateX(-70%);
  -moz-transition: 1s transform ease-out;
  -o-transition: 1s transform ease-out;
  -webkit-transition: 1s transform ease-out;
  transition: 1s transform ease-out;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner > div {
  padding: 2.5rem;
  border: 2px dashed rgba(255, 255, 255, 0.5);
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner h6 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner .ex_arwa {
  margin-top: 20px;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner .ex_arwa .btn_box {
  display: flex;
  flex-wrap: wrap;
  margin: 5px -2px 0;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner .ex_arwa .btn_box a {
  display: block;
  margin: 2px;
  background-color: #000;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 1.4;
  text-align: center;
  padding: 4px 10px;
}
.showcase_wrap .swiper-slide .showcase_inbox .txtbox .txtbox__inner .ex_arwa .btn_box a:hover {
  background-color: #e51550;
}
.showcase_wrap .swiper-slide.swiper-slide-active .showcase_inbox .txtbox .txtbox__inner {
  transform: translateX(0);
}
.showcase_wrap .swiper-slide.swiper-slide-active ~ .swiper-slide .showcase_inbox .txtbox .txtbox__inner {
  transform: translateX(70%);
}/*# sourceMappingURL=style.css.map */