@charset "utf-8";

:root {
    --element-color: #000;
}

.fix_section {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    z-index: 1;

    --fit-color: #000;
    color: var(--fit-color);

    .fix_section__tit {
        position: fixed;
        // top: calc(50vh - 70px);
        // left: calc(50vw - 160px);
        width: 320px;
        max-width: 100%;
        z-index: 1;
        
        .fix_section__h1 {
            position: relative;
            font-size: 50px;
            font-weight: 700;
            line-height: 1.4;
            overflow: hidden;

            span {
                display: block;
                padding-bottom: 10px;
            }
        }

        .fix_section__p {
            position: relative;
            left: 148px;
            font-size: 20px;
            font-weight: 300;
            line-height: 1.5;
            overflow: hidden;

            span {
                display: block;
                padding-top: 10px;
            }
        }
    }

    .fix_section__line {
        position: fixed;
        top: 0;
        left: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        z-index: 1;

        > div {
            position: absolute;
            top: 50vh;
            left: 50vw;
            background: var(--element-color);
            opacity: 0;
        }

        .fix_section__line__line01 {
            width: 0;
            height: 2px;
            transform: translate(0, 8px);
        }
        .fix_section__line__line02 {
            width: 80px;
            height: 1px;
            transform: translate(-160px, 8px);
        }
        .fix_section__line__line03 {
            width: 100px;
            height: 1px;
            transform: translate(60px, 8px);
        }
    }
}

.scroll_box {
    position: fixed;
    bottom: 2.8125rem;
    left: 50%;
    text-align: center;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    opacity: 0;

    .scroll_box__ico {
        position: relative;
        width: 1.25rem;
        height: 2rem;
        margin: 0 auto;
        border-radius: 0.625rem;
        border: 0.125rem solid #000;

        -webkit-animation-duration: 1.5s;
        animation-duration: 1.5s;
        -webkit-animation-name: scrollbox;
        animation-name: scrollbox;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;

        span {
            position: absolute;
            top: 0.3125rem;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 0.25rem;
            height: 0.25rem;
            background-color: #000;
            border-radius: 0.125rem;
            -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
            -webkit-animation-name: scrollSwitch;
            animation-name: scrollSwitch;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
        }
    }
}

@-webkit-keyframes scrollbox {
	0% {
		top: 0;
	}

	60% {
		top: 0.4375rem;
	}
	
	75% {
		top: -0.3125rem;
	}

	100% {
		top: 0;
	}
}

@keyframes scrollbox {
	0% {
		top: 0;
	}

	60% {
		top: 0.4375rem;
	}
	
	75% {
		top: -0.3125rem;
	}

	100% {
		top: 0;
	}
}

@-webkit-keyframes scrollSwitch {
	0% {
		top: 0.3125rem;
		height: 0.25rem;
	}

	60% {
		top: 0.3125rem;
		height: 1.125rem;
	}
	
	75% {
		top: 1.1875rem;
		height: 0.25rem;
	}

	100% {
		top: 0.3125rem;
		height: 0.25rem;
	}
}

@keyframes scrollSwitch {
	0% {
		top: 0.3125rem;
		height: 0.25rem;
	}

	60% {
		top: 0.3125rem;
		height: 1.125rem;
	}
	
	75% {
		top: 1.1875rem;
		height: 0.25rem;
	}

	100% {
		top: 0.3125rem;
		height: 0.25rem;
	}
}

.fix_section__portfolio {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.25rem;
    right: -200px;
    width: 11.5625rem;
    max-width: 100%;
    background-color: transparent;
    border-radius: 1.9375rem;
    overflow: hidden;
    pointer-events: none;
    z-index: 90;

    .fix_section__portfolio__inbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    a {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1.25rem 1.875rem;
        border: 1px solid $color-base-hover;
        background-color: $color-base;
        border-radius: 1.9375rem;
        color: #fff;
        overflow: hidden;
        pointer-events: auto;

        &:before {
            content: "";
            position: absolute;
            top: 0.125rem;
            right: 0.125rem;
            bottom: 0.125rem;
            left: 0.125rem;
            background-color: #ff799f;
            clip-path: inset(0.625rem 1.25rem 0.625rem calc(100% - 3.4375rem) round 2.375rem);
            transition: 0.65s clip-path cubic-bezier(0.785, 0.135, 0.15, 0.86);
        }

        &:hover {
            &:before {
                clip-path: inset(0 round 1.9375rem);
            }
        }

        span {
            position: relative;
            font-size: 1.25rem;
            font-weight: 700;
            line-height: 1;
            color: inherit;
        }

        img {
            position: relative;
            margin-left: 1.25rem;
            width: 1.25rem;
        }
    }

    .port_comment_box {
        margin-top: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        opacity: 0;

        p {
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            line-height: 1.5;
            color: #121212;
        }
    }
}

.loading_section {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 100;

    .loading_transition {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: #000;
    }

    h3 {
        position: relative;
        font-size: 16vw;
        font-weight: 700;
        color: #fff;
        line-height: 1.2;
        text-align: center;
        display: none;
    }
}

.port_section {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    overflow: hidden;
}

.intro_section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--element-color);
    opacity: 11;

    .intro_transition {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        fill: #fff;
    }

    .intro_title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        height: 100vw;
        opacity: 1;
        background-color: var(--element-color);
        clip-path: circle(50vw);
        transform: scale(.2) rotate(-10deg);
        mix-blend-mode: darken;
    }

    h2 {
        width: 80vw;

        svg#logo {
            width: 100%;
            height: auto;
            fill: #fff;
        }
    }
}

.fix_section__nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    bottom: 30px;
    left: 30px;
    overflow: hidden;
    z-index: 11;

    button {
        position: relative;
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-size: 0;
        text-indent: -9999px;
        color: transparent;
        overflow: hidden;
        // background-color: var(--element-color);
        background-color: #ccc;
        pointer-events: auto;
        transition: 1s background cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:after {
            content: "";
            position: absolute;
            top: 3px;
            right: 3px;
            bottom: 3px;
            left: 3px;
            background-color: #666;
            border-radius: 50%;
            transform: scale(0);
            transition: .4s transform ease-in-out;
        }

        &:not(.active):hover {
            &:after {
                transform: scale(1);
            }
        }

        &+ button {
            margin-left: 10px;
        }

        &.active {
            background-color: $color-base;
        }

        &:nth-child(2).active {
            background-color: #08548d;
        }

        &:nth-child(3).active {
            background-color: #000;
        }

        &:nth-child(4).active {
            background-color: #000;
        }
    }
}

.fix_section__bg {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;

    div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        font-size: 0;
        color: transparent;
        text-indent: -9999px;
        overflow: hidden;
        opacity: 0;
        z-index: -1;
        clip-path: circle(10px at 40px calc(100% - 40px));
        transition: clip-path 0s 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity 0s 1s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 0s 1s cubic-bezier(0.785, 0.135, 0.15, 0.86);

        &:nth-child(1) {
            // background-color: #fff1f7;
            background: linear-gradient(to bottom, #f5e8ff 10%, #fff1f7 60%, #fff);
        }
        &:nth-child(2) {
            // background-color: #f1f9ff;
            background: linear-gradient(to top, #beccff 10%, #f1f9ff 60%, #fff);
        }
        &:nth-child(3) {
            background-color: #fff;
        }
        &:nth-child(4) {
            background-color: #eee;
        }

        &.active {
            opacity: 1;
            clip-path: circle(200vw);
            transition: clip-path 1.8s cubic-bezier(0.785, 0.135, 0.15, 0.86), opacity .5s cubic-bezier(0.785, 0.135, 0.15, 0.86), -webkit-clip-path 1.8s cubic-bezier(0.785, 0.135, 0.15, 0.86);
            z-index: 1;
        }
    }
}

.port_section.section_01 {
    // background-color: blue;
}

.feature_box {
    position: absolute;
    display: flex;
    align-items: center;
    height: 25vh;

    &.item01 {
        top: 25vh;
        left: 20vw;
        width: 50vw;
    }
    &.item02 {
        top: 50vh;
        left: 40vw;
        width: calc(40vw + 30px);
    }
    &.item03 {
        top: 75vh;
        left: 30vw;
        width: 40vw;
    }

    .inbox {
        padding: 1.25rem;

        h3 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.4;

            small {
                display: block;
                font-size: 0.7em;
                font-weight: 500;
                color: $color-base;
            }
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 15px;
        }
    }
}

.port_section.section_02 {
    // background-color: red;
}

.service_comment {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 60vh;
    left: 20vw;
    width: 80vw;
    height: 40vh;
    max-width: 1380px;
    padding-right: 20px;
    padding-bottom: 20px;

    h3 {
        font-size: 30px;
        font-weight: 700;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
    }
}

.service_box {
    position: absolute;
    top: 40vh;
    left: 20vw;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 1380px;
    
    .service_item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 33.333333%;
        height: 20vh;
        border-right: 1px solid rgba(0,0,0,.2);
        padding: 20px;

        &:nth-child(3n-2) {
            border-left: 1px solid rgba(0,0,0,.2);
        }

        img {
            width: 240px;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            margin-top: 15px;
            text-align: center;
        }
    }
}

.port_section.section_03 {
    // background-color: green;
}

.showcase_wrap {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1480px;
    padding: 0 20px;
    margin: 0 auto;

    .showcase-container {
        width: 100%;
    }

    .swiper-wrapper {
        &.scrolling {
            transition-duration: 1s !important;
        }
    }

    .swiper-scrollbar-drag {
        &.scrolling {
            transition-duration: 1s !important;
        }
    }

    .showcase-scrollbar {
        position: relative;
        margin-top: 3.125rem;
    }

    .swiper-slide {
        // width: 100%;
    
        .showcase_inbox {
            display: flex;
            align-items: center;

            .imgbox {
                width: 50%;

                figure {
                    font-size: 0;
                    height: 28.125rem;
                    box-shadow: 0.4375rem 0.5625rem 1.875rem rgba(0,0,0,0.7);
                    overflow: hidden;
                    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: top center;
                        transform: scale(1.5);

                        @include transition(1s transform ease-out);
                    }
                }
            }

            .txtbox {
                width: 50%;
                padding-left: 3.125rem;

                .txtbox__inner {
                    width: 100%;
                    max-width: 400px;
                    background-color: rgba(0,0,0,0.8);
                    padding: 10px;
                    color: #fff;
                    transform: translateX(-70%);

                    @include transition(1s transform ease-out);

                    > div {
                        padding: 2.5rem;
                        border: 2px dashed rgba(255,255,255,.5);
                    }

                    h6 {
                        font-size: 24px;
                        font-weight: 700;
                        line-height: 1.3;
                    }

                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 1.6;
                    }

                    .ex_arwa {
                        margin-top: 20px;

                        .btn_box {
                            display: flex;
                            flex-wrap: wrap;
                            margin: 5px -2px 0;

                            a {
                                display: block;
                                margin: 2px;
                                background-color: #000;
                                font-size: 16px;
                                font-weight: 400;
                                color: #fff;
                                line-height: 1.4;
                                text-align: center;
                                padding: 4px 10px;

                                &:hover {
                                    background-color: $color-base;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        &.swiper-slide-active {
            .showcase_inbox {
                .imgbox {
                    figure {
                        img {
                            transform: scale(1);
                        }
                    }
                }

                .txtbox .txtbox__inner {
                    transform: translateX(0);
                }
            }

            &~ .swiper-slide {
                .showcase_inbox {
                    .txtbox .txtbox__inner {
                        transform: translateX(70%);
                    }
                }
            }
        }
    }
}

.geometry{
    opacity: 0;

    span {
        position: fixed;
        display: block;
        width: 100px;
        height: 100px;
        z-index: -10;

        @include transition(1s all ease-out);
    }

    .circle {
        svg {}
    }

    .triange{}

    svg {
        width: 100%;
        height: 100%;

        * {
            stroke: $color-base;
        }
    }

    .shape {
        width: 100%;
        height: 100%;
    }
    .pos1 {right: 25vw; top: 5vh; transform: scale(0.3) rotate(10deg);}
    .pos2 {right: 10vw; top: 10vh; opacity: 0.8; transform: scale(0.5) rotate(-60deg)}
    .pos3 {right: 10vw; top: 22vh; width: 200px; height: 200px; transform:scale(0.6) rotate(20deg); opacity: 0.7;}
    .pos4 {right: 8vw; bottom: 5vh; transform: scale(1); opacity: 0.3;}
    .pos5 {right: 20vw; bottom: 35vh; transform: scale(0.7) rotate(30deg); opacity: 0.8;}
    .pos6 {right: 20vw; top: 15vh; transform: scale(0.7); opacity: 0.2;  }
    .pos7 {left: 0vw; bottom: 8vh; transform: scale(2) rotate(15deg); opacity: 0.8;}
    .pos8 {left: 5vw; bottom: 5vh; transform: scale(1) rotate(5deg); opacity: 0.5;}
    .pos9 {left: 9vw; top: calc(50vh - 300px); transform:scale(0.8) rotate(5deg); opacity: 0.5;}
    .pos10 {left: 7vw; top: calc(50vh - 340px); transform:scale(0.3) rotate(25deg); opacity: 1;}
}

.port_section.section_04 {}

/* responsive */
@include md-max {
    .fix_section {
        .fix_section__tit {
            .fix_section__h1 {
                font-size: 30px;
                transform: translateY(0.9em);
            }
    
            .fix_section__p {
                font-size: 16px;
                transform: translateY(1.7em) !important;
            }
        }
    }

    .scroll_box {
        bottom: 30px;
        right: 30px;
        left: auto;
        -webkit-transform: translateX(none);
        -ms-transform: translateX(none);
        transform: translateX(none);
    }

    .fix_section__portfolio {
        // top: auto;
        // bottom: 1.25rem;
    }
    
    .feature_box {
        padding-bottom: 8vh;

        &.item01 {
            width: 80vw;
        }
        &.item02 {
            width: 60vw;
        }
        &.item03 {
            width: 70vw;
        }
    
        .inbox {
            h3 {
                font-size: 18px;
            }
    
            p {
                display: none;
            }
        }
    }

    .service_box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 20vh;

        .service_item {
            width: auto;
            padding: 10px;

            &:nth-child(3n) {
                border-left: 1px solid rgba(0,0,0,.2);
            }

            &:nth-child(3n-2) {
                border-left: 0;
            }

            &:first-child {
                border-left: 1px solid rgba(0,0,0,.2);
                grid-column: 2 / 3;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .service_comment {
        left: 0;
        width: 100vw;
        padding-left: 20px;
        text-align: center;

        p {
            display: none;
        }
    }

    .showcase_wrap {
        .showcase-container {
            position: relative;
        }

        .showcase-scrollbar {
            position: absolute;
            margin-top: 0;
            bottom: -70px;
            left: 0;
            width: 100%;
        }

        .swiper-slide {
            .showcase_inbox {
                position: relative;
                display: block;

                .imgbox {
                    width: 100%;
                }

                .txtbox {
                    position: absolute;
                    right: -10px;
                    bottom: -50px;
                    width: 100%;

                    .txtbox__inner {
                        h6 {
                            font-size: 18px;
                        }

                        p {
                            font-size: 14px;
                            margin-top: 5px;
                        }

                        .ex_arwa {
                            .btn_box {
                                a {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 알림창
.alert_design_form {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 11;
	background-color: rgba(0,0,0,.3);
}
.alert_design_form__inner {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 40px;
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
	width: 90%;
	max-width: 534px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	color: #242424;
	margin-top: -30px;
	
    @include transition(.5s all ease-out);
}
.alert_design_form.on .alert_design_form__inner {
	margin-top: 0;
}
.alert_design_form__inner__cont {
    h2 {
        font-size: 24px;
        font-weight: 600;
    }

    p {
        font-size: 15px;
        font-weight: 300;
        margin-top: 20px;
    }
}
.alert_design_form__inner__btn {
	margin-top: 30px;

    a {
        display: inline-block;
        padding: 10px 35px;
        background-color: #6465CF;
        line-height: 1;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        border-radius: 6px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.35);
    
        &:hover {
            background-color: #7677eb;
        }
    
        &:active {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
        }
    }
}
