@charset "utf-8";

:root {
    --element-color: #000;
}

body {
	color: var(--element-color);
}

.intro_section {
	position: relative;

	.intro_section__inner {
		position: relative;
		height: 100vh;
		overflow: hidden;
	}

	.tit {
		position: absolute;
		top: 16vh;
		left: 10vw;
		
		h1 {
			display: flex;
			font-size: 3.75rem;
			font-weight: 700;
			line-height: 1;

			.letter_box {
				display: block;

				.letter {
					display: block;
					transform-style: preserve-3d;
				}

				&.letter_box--d {
					perspective: 600px;

					.letter {
						transform-origin: center center 30px;
					}
				}
				&.letter_box--e {
					perspective: 800px;

					.letter {
						transform-origin: center center 50px;
					}
				}
				&.letter_box--s {
					perspective: 1200px;

					.letter {
						transform-origin: center center 300px;
					}
				}
				&.letter_box--i {
					perspective: 400px;
					
					.letter {
						transform-origin: center center 100px;
					}
				}
				&.letter_box--g {
					perspective: 700px;

					.letter {
						transform-origin: center center 200px;
					}
				}
				&.letter_box--n {
					perspective: 600px; margin-right: 10px;

					.letter {
						transform-origin: center center 70px;
					}
				}
				&.letter_box--m {
					perspective: 300px;

					.letter {
						transform-origin: center center 40px;
					}
				}
			}
		}

		.line {
			width: calc(90vw - 50px);
			height: 1px;
			background-color: #000;
			margin-top: 20px;
		}
	}

	.txt_01 {
		margin-top: 20px;
		font-size: 5vw;
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: -0.02em;
		color: #773ee1;
	}

	.txt_02 {
		margin-top: 10px;
		font-size: 3vw;
		font-weight: 700;
		line-height: 1.3;
		color: #ab3ee1;
	}

	.line_01 {
		position: absolute;
		top: calc(16vh + 81px);
		right: 50px;
		width: 30px;
		height: calc(84vh - 81px);
		background-color: #773ee1;
	}

	.line_02 {
		position: absolute;
		right: 80px;
		bottom: 50px;
		width: 260px;
		height: 2px;
		background-color: #000;
	}

	.references {
		position: absolute;
		right: 100px;
		bottom: 55px;
		width: 240px;

		p {
			font-size: 20px;
			font-weight: 500;
			line-height: 1;
		}

		ul {
			margin-top: 10px;

			li {
				font-size: 18px;
				font-weight: 400;
				line-height: 1.4;
				padding: 5px 0;
				border-top: 2px solid #000;
			}
		}
	}

	.logo {
		position: absolute;
		top: 16vh;
		right: 50px;
	}
}

.port_section {
	padding: 100vh 0 8.125rem;
}

.section01_inner {
	width: 60vw;
	padding: 0 20px;
	margin-left: auto;

	.portfolio_item {
		position: relative;
		margin-top: 30vh;
		
		// &~ .portfolio_item {
		// 	margin-top: 30vh;
		// }

		figure {
			position: relative;
			font-size: 0;
			width: 720px;
			max-width: calc(100% - 165px);
			height: 28.125rem;
			margin-left: auto;
			box-shadow: 0.4375rem 0.5625rem 1.875rem rgba(0,0,0,.7);
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top center;

				@include transition(1s transform ease-out);
			}

			a {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				font-size: 0;
				text-indent: -9999px;
				color: transparent;
				overflow: hidden;
				border: 10px solid transparent;
				border-image: linear-gradient(to bottom, #ab3ee1 0%, #773ee1 100%);
				border-image-slice: 1;
				opacity: 0;

				@include transition(.5s opacity ease-out);

				&:hover {
					opacity: 1;
				}
			}
		}

		ul {
			position: absolute;
			top: 0;
			left: 0;
			font-size: 16px;
			font-weight: 300;
			line-height: 1.6;
			color: #773ee1;
		}

		&:nth-child(even) {
			figure {
				margin-left: 0;
			}

			ul {
				right: 0;
				left: auto;
			}
		}
	}
}

.fit_info_box {
	position: fixed;
	top: 40vh;
	left: 3vw;
	width: calc(40vw - 3vw);
	padding-right: 50px;

	.fit_info_box__line {
		width: calc(100vw - 3vw);
		height: 1px;
		background: linear-gradient(90deg, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
		margin: 0.9375rem 0 1.25rem;
	}

	.project_name {
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.3;
		text-transform: uppercase;
	}
}

@include sm-max {
	.fit_info_box {
		top: auto;
		bottom: 39.25rem;
		width: calc(100vw - 6vw);
		padding-right: 0;
	}

	.section01_inner {
		width: 100vw;

		.portfolio_item {
			figure {
				max-width: none;
    			width: 100%;
			}

			ul {
				position: relative;
			}
		}
	}
}